body{
    background-color: #EEEEB0;
    padding-top: 20px;
}
header{
    font-size: 25px;
}

#navbar {
    position: fixed;
    margin: 10px;
    top:0;
    left: 0;
    width: 20%;
    text-align: center;
    padding-top: 30px;
    justify-content: space-around;
    border-style: solid;
}

.nav-link{
    margin: 10px;
    font-size: 22px;
    text-align: left;
    border: 3px solid black;
    
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.nav-link:hover{
    color: white;
}

#navbar a {
    display: block;
    margin-top: 20px;
}

#main-doc {
    margin-left: 21%;
    width: 78%;
}

#main-doc header {
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    #navbar {
        position: static;
        width: 100%;
    }
    
    #navbar a {
        margin-top: 10px;
    }
    
    #main-doc {
        width: 100%;
        margin-left: 0%;
    }
}